/* BASIC STYLES */
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
}

ul {
  list-style: none;
}
.result {
  display: flex;
}
#results{
  margin-bottom: 10px;
}
#noresults, #loading {
  display: none;
}
table{
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}

table thead th,
table tfoot th {
  font-weight: bold;
}
table thead th,
table thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}
table thead th:active,
table thead td:active {
  outline: none;
}
table tfoot th,
table tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111;
}
table tbody tr {
  background-color: #ffffff;
}
table tbody tr.selected {
  background-color: #B0BED9;
}
table tbody th,
table tbody td {
  padding: 8px 10px;
}
table.row-border tbody th, table.row-border tbody td, table.display tbody th, table.display tbody td {
  border-top: 1px solid #ddd;
}
table.row-border tbody tr:first-child th,
table.row-border tbody tr:first-child td, table.display tbody tr:first-child th,
table.display tbody tr:first-child td {
  border-top: none;
}
table.cell-border tbody th, table.cell-border tbody td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
table.cell-border tbody tr th:first-child,
table.cell-border tbody tr td:first-child {
  border-left: 1px solid #ddd;
}
table.cell-border tbody tr:first-child th,
table.cell-border tbody tr:first-child td {
  border-top: none;
}
table.stripe tbody tr.odd, table.display tbody tr.odd {
  background-color: #f9f9f9;
}
table.stripe tbody tr.odd.selected, table.display tbody tr.odd.selected {
  background-color: #acbad4;
}
table.hover tbody tr:hover, table.display tbody tr:hover {
  background-color: #f6f6f6;
}
table.hover tbody tr:hover.selected, table.display tbody tr:hover.selected {
  background-color: #aab7d1;
}
table.no-footer {
  border-bottom: 1px solid #111;
}
table.nowrap th, table.nowrap td {
  white-space: nowrap;
}
table.compact thead th,
table.compact thead td {
  padding: 4px 17px;
}
table.compact tfoot th,
table.compact tfoot td {
  padding: 4px;
}
table.compact tbody th,
table.compact tbody td {
  padding: 4px;
}
table th.dt-left,
table td.dt-left {
  text-align: left;
}
table th.dt-center,
table td.dt-center,
table tds_empty {
  text-align: center;
}
table th.dt-right,
table td.dt-right {
  text-align: right;
}
table th.dt-justify,
table td.dt-justify {
  text-align: justify;
}
table th.dt-nowrap,
table td.dt-nowrap {
  white-space: nowrap;
}
table thead th.dt-head-left,
table thead td.dt-head-left,
table tfoot th.dt-head-left,
table tfoot td.dt-head-left {
  text-align: left;
}
table thead th.dt-head-center,
table thead td.dt-head-center,
table tfoot th.dt-head-center,
table tfoot td.dt-head-center {
  text-align: center;
}
table thead th.dt-head-right,
table thead td.dt-head-right,
table tfoot th.dt-head-right,
table tfoot td.dt-head-right {
  text-align: right;
}
table thead th.dt-head-justify,
table thead td.dt-head-justify,
table tfoot th.dt-head-justify,
table tfoot td.dt-head-justify {
  text-align: justify;
}
table thead th.dt-head-nowrap,
table thead td.dt-head-nowrap,
table tfoot th.dt-head-nowrap,
table tfoot td.dt-head-nowrap {
  white-space: nowrap;
}
table tbody th.dt-body-left,
table tbody td.dt-body-left {
  text-align: left;
}
table tbody th.dt-body-center,
table tbody td.dt-body-center {
  text-align: center;
}
table tbody th.dt-body-right,
table tbody td.dt-body-right {
  text-align: right;
}
table tbody th.dt-body-justify,
table tbody td.dt-body-justify {
  text-align: justify;
}
table tbody th.dt-body-nowrap,
table tbody td.dt-body-nowrap {
  white-space: nowrap;
}

table,
table th,
table td {
  box-sizing: content-box;
}
/*th, td {
  padding: 15px;
  text-align: left;
  border-collapse: collapse;
}*/

/*table#table tr:nth-child(even) {
  background-color: #eee;
}
table#table tr:nth-child(odd) {
 background-color: #fff;
}*/
table th {
  background-color: #eee;
}

/* NAV BAR */
#nav_bar {
  float: right;
}

#nav_bar li {
  display: inline-block;
  padding: 8px;
}

#nav_bar #sign_in {
  background: #4887ef; 
  margin-right: 25px;
  padding: 7px 15px;
  border-radius: 3px; 
  font-weight: bold;
}

.nav-links {
  color: #404040;
}
.table-cell .hyperlink {
    -fx-text-fill: ladder(-fx-background, -fx-light-text-color 50%, -fx-accent 51% );
}
.table a:link
{
    display:table;
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}

li.nav-links a:hover {
  text-decoration: underline;
}

#sign_in:hover { 
  box-shadow: 1px 1px 5px #999;
}

#sign_in {
  color: #fff;
}

.bug #bug_logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-top: 50px;
  padding-bottom: 20px;
}

.form {
  text-align: center;
}

#form-search { 
  width: 450px;
  line-height: 32px;
  padding: 20px 10px;
  border-radius: 30px;
}

.form #form-search {
  padding: 0 8px;
}

/*#form-search:hover {
  border-color: #e4e4e4;
  padding-top: 0;
}*/

.buttons {
  text-align: center;
  padding-top: 30px;
/*  margin-bottom: 300px;*/
}

/* FOOTER */
footer  {
  background: #f2f2f2;
  border-top: solid 2px #e4e4e4;
/*   position: fixed; */
  bottom: 0;
  padding-bottom: 0;
  width: 100%;
  
}

footer ul li {
  display: inline;
  color: #666666;
  font-size: 14px;
  padding: 13px;
}

footer ul {
  float: left;
  padding: 1px;
}

footer ul a:hover {
  text-decoration: underline;
}

.footer-right {
  float: right;
}

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
 
 li.nav-links a {
    display: none;
  }
  
 #bug_logo {
   padding: 0;
 }
  
 .buttons {
   display: none;
 }
  
 #form-search {
   width: 80%;

 }
  
 footer {
   bottom: 0;
 }
  
 footer ul {
   float: none;
   padding-bottom: 2px;
    
 }
  
 .footer-left {
   text-align: center;
   margin: auto; 
   padding-top: 10px;
    
 }
  
 .footer-right {
   float: none;
   text-align: center;
   
 }
}

@media screen and (max-width: 565px) {
 
  li.nav-links a {
    display: none;
  }
  
  
 #bug_logo {
   padding: 0;
 }
  
 .buttons {
   display: none;
 }
  
 #form-search {
   width: 80%;

 }
  
 footer {
/*    bottom: 0;
   postion: absolute; */
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
 }
  
 footer ul {
   float: none;
   padding-bottom: 2px;
    
 }
  
 .footer-left {
   text-align: center;
   margin: auto; 
   padding-top: 10px;
    
 }
  
 .footer-right {
   float: none;
   text-align: center;
   
 }
}











